.main::before{
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
    background-image: url("https://media.istockphoto.com/id/1067068032/vector/snow-covered-mountains.jpg?s=612x612&w=0&k=20&c=j2rFH2VP3myBDyXsqoIgYJ0PwnN224xpUDuIjA4tGtY=");
    width: 100%;
    height: 100%;

}
.main{
    width: 100vw;
   height: 70vh;
    display: flex;
    justify-content: center;

  

}
.Normal-text{
    font-size: 1.5rem;

}
.para{
    font-size: 1rem;
}
.Intro{
    color: red;

}
.main-wrapper{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 2rem;
    align-items: center;

  
}
.EXPLORE{
    background-color: black;
    font-size: 2rem;
    padding: 1rem;
    color: wheat;
    position: absolute;
    right: 2rem;
    bottom: 5rem;
}


